@media screen and (max-width: 1120px) {
  /*************************** Navbar Section **************************/

  .navbar {
    padding: 60px 20px;
  }

  .navbar > img {
    width: 100px;
  }

  .menu {
    display: block;
  }

  .navRight {
    display: none;
  }

  /*************************** Hero Section **************************/

  .heroSection {
    padding: 0 20px 60px 20px;
  }

  /*************************** Benefits Section **************************/

  .benefits {
    padding: 80px 20px 50px 20px;
  }

  /*************************** Benefits Section **************************/

.features {
    padding: 50px 20px;
}
}
